
@{
    ViewBag.Title = "Sobre Nos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Sobre nós <br>Nossa história<br>Missão e Visão</h2>
                    <p>o comportamento inadequado é frequentemente ridicularizado como “meninos serão meninos”, as mulheres enfrentam padrões de conduta mais elevados, especialmente no local de trabalho. É por isso que é crucial que, como mulheres, nosso comportamento no trabalho seja irrepreensível. comportamento impróprio é frequentemente ridicularizado.</p>
                    <a href="javascript:;" class="button_hover theme_btn_two">Solicitar preço personalizado</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/Content/Public/image/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
